In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
file = "Resources/renamed_crime_data.csv"
crime_csv = pd.read_csv(file)
crime_csv.head()

,CCN,Report,Shift,Method,Offense,Block,XBlock,YBlock,Ward,ANC,...,Block_Grou,Census_Trac,Voting_Precinct,Latitude,Longitude,Bid,Start_Date,End_Date,Object_ID,Octo_Recor
0,2111617,2017-02-06T20:11:14.000Z,EVENING,OTHERS,THEFT/OTHER,600 - 669 BLOCK OF MARYLAND AVENUE NE,400212,136281,6,6C,...,008302 1,8302.0,Precinct 84,38.894376,-76.997556,CAPITOL HILL,2017-02-01T11:55:55.000Z,NaN,306952475,02111617-01
1,7093973,2017-06-03T12:54:27.000Z,DAY,OTHERS,THEFT F/AUTO,2900 - 2999 BLOCK OF N STREET NW,394912,137666,2,2E,...,000100 4,100.0,Precinct 5,38.906838,-77.058661,NaN,2017-06-03T11:54:03.000Z,2017-06-03T11:55:05.000Z,306952489,07093973-01
2,17400847,2017-05-25T13:07:34.000Z,DAY,OTHERS,THEFT F/AUTO,4500 - 4599 BLOCK OF BRANDYWINE STREET NW,392231,142425,3,3E,...,001001 3,1001.0,Precinct 31,38.949689,-77.089625,NaN,2017-05-12T23:00:00.000Z,2017-05-13T09:00:00.000Z,306951085,17400847-01
3,17400849,2017-05-25T19:38:01.000Z,EVENING,OTHERS,THEFT/OTHER,2500 - 2599 BLOCK OF 39TH STREET NW,393318,139472,3,3B,...,000702 1,702.0,Precinct 11,38.923096,-77.077056,NaN,2017-05-14T19:10:00.000Z,2017-05-25T19:10:00.000Z,306951086,17400849-01
4,17400850,2017-05-25T20:18:37.000Z,EVENING,OTHERS,THEFT/OTHER,4100 - 4199 BLOCK OF 8TH STREET NW,397977,141500,4,4C,...,002400 3,2400.0,Precinct 45,38.941388,-77.023335,NaN,2017-05-09T08:00:00.000Z,2017-05-09T18:00:00.000Z,306951087,17400850-01

In [3]:
crime_csv = crime_csv.rename(columns={'Census_Trac': 'clean_tract'})
crime_csv

,CCN,Report,Shift,Method,Offense,Block,XBlock,YBlock,Ward,ANC,...,Block_Grou,clean_tract,Voting_Precinct,Latitude,Longitude,Bid,Start_Date,End_Date,Object_ID,Octo_Recor
0,2111617,2017-02-06T20:11:14.000Z,EVENING,OTHERS,THEFT/OTHER,600 - 669 BLOCK OF MARYLAND AVENUE NE,400212,136281,6,6C,...,008302 1,8302.0,Precinct 84,38.894376,-76.997556,CAPITOL HILL,2017-02-01T11:55:55.000Z,NaN,306952475,02111617-01
1,7093973,2017-06-03T12:54:27.000Z,DAY,OTHERS,THEFT F/AUTO,2900 - 2999 BLOCK OF N STREET NW,394912,137666,2,2E,...,000100 4,100.0,Precinct 5,38.906838,-77.058661,NaN,2017-06-03T11:54:03.000Z,2017-06-03T11:55:05.000Z,306952489,07093973-01
2,17400847,2017-05-25T13:07:34.000Z,DAY,OTHERS,THEFT F/AUTO,4500 - 4599 BLOCK OF BRANDYWINE STREET NW,392231,142425,3,3E,...,001001 3,1001.0,Precinct 31,38.949689,-77.089625,NaN,2017-05-12T23:00:00.000Z,2017-05-13T09:00:00.000Z,306951085,17400847-01
3,17400849,2017-05-25T19:38:01.000Z,EVENING,OTHERS,THEFT/OTHER,2500 - 2599 BLOCK OF 39TH STREET NW,393318,139472,3,3B,...,000702 1,702.0,Precinct 11,38.923096,-77.077056,NaN,2017-05-14T19:10:00.000Z,2017-05-25T19:10:00.000Z,306951086,17400849-01
4,17400850,2017-05-25T20:18:37.000Z,EVENING,OTHERS,THEFT/OTHER,4100 - 4199 BLOCK OF 8TH STREET NW,397977,141500,4,4C,...,002400 3,2400.0,Precinct 45,38.941388,-77.023335,NaN,2017-05-09T08:00:00.000Z,2017-05-09T18:00:00.000Z,306951087,17400850-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33077,17211744,2017-12-08T20:20:56.000Z,EVENING,OTHERS,THEFT/OTHER,3904 - 3999 BLOCK OF MINNESOTA AVENUE NE,404370,136293,7,7F,...,009603 2,9603.0,Precinct 102,38.894473,-76.949626,NaN,2017-12-08T15:52:36.000Z,2017-12-08T16:00:19.000Z,307334080,17211744-01
33078,17211745,2017-12-08T16:19:56.000Z,EVENING,OTHERS,THEFT/OTHER,1900 - 1999 BLOCK OF D STREET NE,402017,136325,7,7D,...,007903 1,7903.0,Precinct 80,38.894770,-76.976749,NaN,2017-12-07T13:44:23.000Z,2017-12-07T13:59:07.000Z,307334081,17211745-01
33079,17211747,2017-12-08T16:23:22.000Z,EVENING,OTHERS,THEFT F/AUTO,100 - 199 BLOCK OF 7TH STREET NE,400332,135958,6,6C,...,008200 1,8200.0,Precinct 85,38.891466,-76.996173,NaN,2017-12-08T15:18:49.000Z,2017-12-08T15:30:21.000Z,307334082,17211747-01
33080,17211757,2017-12-08T16:51:36.000Z,EVENING,OTHERS,THEFT/OTHER,1600 - 1699 BLOCK OF PARK ROAD NW,396736,140470,1,1D,...,002702 1,2702.0,Precinct 40,38.932106,-77.037645,NaN,2017-12-08T16:10:00.000Z,2017-12-08T16:15:07.000Z,307334083,17211757-01
33081,17211760,2017-12-08T16:31:03.000Z,EVENING,OTHERS,THEFT F/AUTO,2500 - 2599 BLOCK OF 13TH STREET NW,397423,139469,1,1B,...,003600 1,3600.0,Precinct 23,38.923091,-77.029718,NaN,2017-12-08T15:25:35.000Z,2017-12-08T16:31:01.000Z,307334084,17211760-01

In [4]:
crime_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33082 entries, 0 to 33081
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CCN              33082 non-null  int64
 1   Report           33082 non-null  object
 2   Shift            33082 non-null  object
 3   Method           33082 non-null  object
 4   Offense          33082 non-null  object
 5   Block            33082 non-null  object
 6   XBlock           33082 non-null  int64
 7   YBlock           33082 non-null  int64
 8   Ward             33082 non-null  int64
 9   ANC              33082 non-null  object
 10  District         33079 non-null  float64
 11  PSA              33079 non-null  float64
 12  Neighborhood     32712 non-null  object
 13  Block_Grou       32998 non-null  object
 14  clean_tract      32998 non-null  float64
 15  Voting_Precinct  33082 non-null  object
 16  Latitude         33082 non-null  float64
 17  Longitude        33082 non-null  float64
 18  Bid              5830 non-null   object
 19  Start_Date       33082 non-null  object
 20  End_Date         31585 non-null  object
 21  Object_ID        33082 non-null  int64
 22  Octo_Recor       33082 non-null  object
dtypes: float64(5), int64(5), object(13)
memory usage: 5.8+ MB

In [5]:
#poverty_csv.info()

In [6]:
test = crime_csv.clean_tract
test

0        8302.0
1         100.0
2        1001.0
3         702.0
4        2400.0
          ...
33077    9603.0
33078    7903.0
33079    8200.0
33080    2702.0
33081    3600.0
Name: clean_tract, Length: 33082, dtype: float64

In [7]:
file = "poverty_census_tract"
poverty_csv = pd.read_csv(file)
poverty_csv.head()

,OBJECTID,GEOID,ALAND,AWATER,NAME,State,County,B17020_001E,B17020_001M,B17020_002E,...,B17020_calc_numChildPovM,B17020_calc_pctChildPovE,B17020_calc_pctChildPovM,Shape__Area,Shape__Length,B17020_calc_numTotChildE,B17020_calc_numTotChildM,Shape__Area_2,Shape__Length_2,clean_tract
0,1,11001000100,1907610,512798,Census Tract 1,District of Columbia,District of Columbia,5151,348,248,...,38,3.4,4.610801,3.157970e+06,16275.593084,802,257,3.157970e+06,16275.593084,1
1,2,11001000201,503312,0,Census Tract 2.01,District of Columbia,District of Columbia,24,56,24,...,21,NaN,NaN,8.324142e+05,4265.956241,0,29,8.324142e+05,4265.956241,201
2,3,11001000202,776630,428562,Census Tract 2.02,District of Columbia,District of Columbia,3595,557,582,...,21,0.0,5.898876,1.284189e+06,13196.755434,356,141,1.284189e+06,13196.755434,202
3,4,11001000300,1010813,2334,Census Tract 3,District of Columbia,District of Columbia,6374,569,1184,...,37,3.4,4.296579,1.676009e+06,5244.313860,847,196,1.676009e+06,5244.313860,3
4,5,11001000400,1542760,69,Census Tract 4,District of Columbia,District of Columbia,1485,130,169,...,27,10.0,9.329003,2.552696e+06,7468.467690,281,65,2.552696e+06,7468.467690,4

In [8]:
merged = pd.merge(poverty_csv, crime_csv, on= 'clean_tract', how= 'inner')
merged

,OBJECTID,GEOID,ALAND,AWATER,NAME,State,County,B17020_001E,B17020_001M,B17020_002E,...,Neighborhood,Block_Grou,Voting_Precinct,Latitude,Longitude,Bid,Start_Date,End_Date,Object_ID,Octo_Recor
0,2,11001000201,503312,0,Census Tract 2.01,District of Columbia,District of Columbia,24,56,24,...,Cluster 4,000201 1,Precinct 6,38.912577,-77.073401,NaN,2017-10-18T17:00:00.000Z,2017-10-18T20:00:00.000Z,306951116,17401735-01
1,2,11001000201,503312,0,Census Tract 2.01,District of Columbia,District of Columbia,24,56,24,...,Cluster 4,000201 1,Precinct 6,38.912603,-77.074958,NaN,2017-11-20T05:55:00.000Z,2017-11-20T16:30:00.000Z,306951431,17401924-01
2,2,11001000201,503312,0,Census Tract 2.01,District of Columbia,District of Columbia,24,56,24,...,Cluster 4,000201 1,Precinct 6,38.910192,-77.069144,NaN,2017-07-18T18:15:00.000Z,2017-07-24T18:15:00.000Z,306950204,17401306-01
3,2,11001000201,503312,0,Census Tract 2.01,District of Columbia,District of Columbia,24,56,24,...,Cluster 4,000201 1,Precinct 6,38.911183,-77.069192,NaN,2017-02-12T14:00:29.000Z,2017-02-20T10:30:42.000Z,307267329,17029071-01
4,2,11001000201,503312,0,Census Tract 2.01,District of Columbia,District of Columbia,24,56,24,...,Cluster 4,000201 1,Precinct 6,38.910192,-77.069144,NaN,2017-03-05T12:00:58.000Z,2017-03-06T08:00:05.000Z,307266161,17037424-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19754,168,11001009907,466954,0,Census Tract 99.07,District of Columbia,District of Columbia,2773,298,800,...,Cluster 33,009907 2,Precinct 103,38.881992,-76.939319,NaN,2017-10-23T11:00:10.000Z,2017-10-23T11:15:32.000Z,307334262,17186640-01
19755,168,11001009907,466954,0,Census Tract 99.07,District of Columbia,District of Columbia,2773,298,800,...,Cluster 33,009907 2,Precinct 103,38.886550,-76.938359,NaN,2017-12-08T15:08:20.000Z,2017-12-08T17:27:44.000Z,307334479,17211795-01
19756,168,11001009907,466954,0,Census Tract 99.07,District of Columbia,District of Columbia,2773,298,800,...,Cluster 33,009907 1,Precinct 103,38.880974,-76.939274,NaN,2017-12-08T06:53:29.000Z,2017-12-08T07:35:11.000Z,307333271,17211478-01
19757,168,11001009907,466954,0,Census Tract 99.07,District of Columbia,District of Columbia,2773,298,800,...,Cluster 33,009907 2,Precinct 103,38.882849,-76.942108,NaN,2017-10-23T08:18:44.000Z,NaN,307333828,17183789-01
19758,168,11001009907,466954,0,Census Tract 99.07,District of Columbia,District of Columbia,2773,298,800,...,Cluster 33,009907 1,Precinct 103,38.881811,-76.937867,NaN,2017-12-06T21:20:16.000Z,2017-12-06T21:30:11.000Z,307334068,17211691-01

In [9]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19759 entries, 0 to 19758
Data columns (total 76 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   OBJECTID                  19759 non-null  int64
 1   GEOID                     19759 non-null  int64
 2   ALAND                     19759 non-null  int64
 3   AWATER                    19759 non-null  int64
 4   NAME                      19759 non-null  object
 5   State                     19759 non-null  object
 6   County                    19759 non-null  object
 7   B17020_001E               19759 non-null  int64
 8   B17020_001M               19759 non-null  int64
 9   B17020_002E               19759 non-null  int64
 10  B17020_002M               19759 non-null  int64
 11  B17020_003E               19759 non-null  int64
 12  B17020_003M               19759 non-null  int64
 13  B17020_004E               19759 non-null  int64
 14  B17020_004M               19759 non-null  int64
 15  B17020_005E               19759 non-null  int64
 16  B17020_005M               19759 non-null  int64
 17  B17020_006E               19759 non-null  int64
 18  B17020_006M               19759 non-null  int64
 19  B17020_007E               19759 non-null  int64
 20  B17020_007M               19759 non-null  int64
 21  B17020_008E               19759 non-null  int64
 22  B17020_008M               19759 non-null  int64
 23  B17020_009E               19759 non-null  int64
 24  B17020_009M               19759 non-null  int64
 25  B17020_010E               19759 non-null  int64
 26  B17020_010M               19759 non-null  int64
 27  B17020_011E               19759 non-null  int64
 28  B17020_011M               19759 non-null  int64
 29  B17020_012E               19759 non-null  int64
 30  B17020_012M               19759 non-null  int64
 31  B17020_013E               19759 non-null  int64
 32  B17020_013M               19759 non-null  int64
 33  B17020_014E               19759 non-null  int64
 34  B17020_014M               19759 non-null  int64
 35  B17020_015E               19759 non-null  int64
 36  B17020_015M               19759 non-null  int64
 37  B17020_016E               19759 non-null  int64
 38  B17020_016M               19759 non-null  int64
 39  B17020_017E               19759 non-null  int64
 40  B17020_017M               19759 non-null  int64
 41  B17020_calc_pctPovE       19759 non-null  float64
 42  B17020_calc_pctPovM       19759 non-null  float64
 43  B17020_calc_numChildPovE  19759 non-null  int64
 44  B17020_calc_numChildPovM  19759 non-null  int64
 45  B17020_calc_pctChildPovE  19550 non-null  float64
 46  B17020_calc_pctChildPovM  19550 non-null  float64
 47  Shape__Area               19759 non-null  float64
 48  Shape__Length             19759 non-null  float64
 49  B17020_calc_numTotChildE  19759 non-null  int64
 50  B17020_calc_numTotChildM  19759 non-null  int64
 51  Shape__Area_2             19759 non-null  float64
 52  Shape__Length_2           19759 non-null  float64
 53  clean_tract               19759 non-null  int64
 54  CCN                       19759 non-null  int64
 55  Report                    19759 non-null  object
 56  Shift                     19759 non-null  object
 57  Method                    19759 non-null  object
 58  Offense                   19759 non-null  object
 59  Block                     19759 non-null  object
 60  XBlock                    19759 non-null  int64
 61  YBlock                    19759 non-null  int64
 62  Ward                      19759 non-null  int64
 63  ANC                       19759 non-null  object
 64  District                  19757 non-null  float64
 65  PSA                       19757 non-null  float64
 66  Neighborhood              19527 non-null  object
 67  Block_Grou                19759 non-null  object
 68  Voting_Precinct           19759 non-null  object
 69  Latitude                  19759 non-null  float64
 70  Longitude                 19759 non-null  float64
 71  Bid                       1451 non-null   object
 72  Start_Date                19759 non-null  object
 73  End_Date                  18779 non-null  object
 74  Object_ID                 19759 non-null  int64
 75  Octo_Recor                19759 non-null  object
dtypes: float64(12), int64(48), object(16)
memory usage: 11.6+ MB

In [10]:
merged_df = merged[['clean_tract', 'B17020_001E','B17020_calc_pctPovE', 'B17020_calc_pctChildPovE', 'Offense', 'Method', 'Latitude', 'Longitude', 'Start_Date', 'End_Date','CCN']]
merged_df

,clean_tract,B17020_001E,B17020_calc_pctPovE,B17020_calc_pctChildPovE,Offense,Method,Latitude,Longitude,Start_Date,End_Date,CCN
0,201,24,100.0,NaN,THEFT/OTHER,OTHERS,38.912577,-77.073401,2017-10-18T17:00:00.000Z,2017-10-18T20:00:00.000Z,17401735
1,201,24,100.0,NaN,THEFT/OTHER,OTHERS,38.912603,-77.074958,2017-11-20T05:55:00.000Z,2017-11-20T16:30:00.000Z,17401924
2,201,24,100.0,NaN,THEFT/OTHER,OTHERS,38.910192,-77.069144,2017-07-18T18:15:00.000Z,2017-07-24T18:15:00.000Z,17401306
3,201,24,100.0,NaN,THEFT F/AUTO,OTHERS,38.911183,-77.069192,2017-02-12T14:00:29.000Z,2017-02-20T10:30:42.000Z,17029071
4,201,24,100.0,NaN,THEFT F/AUTO,OTHERS,38.910192,-77.069144,2017-03-05T12:00:58.000Z,2017-03-06T08:00:05.000Z,17037424
...,...,...,...,...,...,...,...,...,...,...,...
19754,9907,2773,28.8,47.1,THEFT/OTHER,OTHERS,38.881992,-76.939319,2017-10-23T11:00:10.000Z,2017-10-23T11:15:32.000Z,17186640
19755,9907,2773,28.8,47.1,THEFT/OTHER,OTHERS,38.886550,-76.938359,2017-12-08T15:08:20.000Z,2017-12-08T17:27:44.000Z,17211795
19756,9907,2773,28.8,47.1,MOTOR VEHICLE THEFT,OTHERS,38.880974,-76.939274,2017-12-08T06:53:29.000Z,2017-12-08T07:35:11.000Z,17211478
19757,9907,2773,28.8,47.1,THEFT F/AUTO,OTHERS,38.882849,-76.942108,2017-10-23T08:18:44.000Z,NaN,17183789
19758,9907,2773,28.8,47.1,MOTOR VEHICLE THEFT,OTHERS,38.881811,-76.937867,2017-12-06T21:20:16.000Z,2017-12-06T21:30:11.000Z,17211691

In [11]:
number_of_crimes = merged_df.groupby('clean_tract').count()['Offense']

In [19]:
offense_type= merged_df.groupby('Offense').count()['clean_tract']
offense_type

Offense
ARSON                            3
ASSAULT W/DANGEROUS WEAPON    1406
BURGLARY                      1034
HOMICIDE                        98
MOTOR VEHICLE THEFT           1698
ROBBERY                       1494
SEX ABUSE                      211
THEFT F/AUTO                  5573
THEFT/OTHER                   8242
Name: clean_tract, dtype: int64

In [13]:
population = merged_df.groupby('clean_tract').mean()['B17020_001E']

In [14]:
pop_pct = merged_df.groupby('clean_tract').mean()['B17020_calc_pctPovE']

In [15]:
merged_df['B17020_calc_pctChildPovE'].fillna(merged_df['B17020_calc_pctChildPovE'].mean(), inplace = True)
childpop_pct = merged_df.groupby('clean_tract').mean()['B17020_calc_pctChildPovE']
childpop_pct

/Users/poojanagrecha/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

clean_tract
201     25.055524
202      0.000000
501     10.900000
502      0.000000
701      8.000000
          ...
9903    34.100000
9904    48.100000
9905    44.400000
9906    27.700000
9907    47.100000
Name: B17020_calc_pctChildPovE, Length: 127, dtype: float64

In [16]:
lat = merged_df.groupby('clean_tract').mean()['Latitude']
lat

clean_tract
201     38.911904
202     38.906516
501     38.924631
502     38.928411
701     38.930409
          ...
9903    38.888687
9904    38.884916
9905    38.884172
9906    38.888275
9907    38.882561
Name: Latitude, Length: 127, dtype: float64

In [17]:
long = merged_df.groupby('clean_tract').mean()['Longitude']
long

clean_tract
201    -77.074202
202    -77.065324
501    -77.052344
502    -77.057113
701    -77.075336
          ...
9903   -76.920801
9904   -76.930460
9905   -76.924967
9906   -76.935810
9907   -76.937396
Name: Longitude, Length: 127, dtype: float64

In [20]:
summary_table = pd.DataFrame({"Census": merged_df.clean_tract.unique(),
                              "Offense": offense_type,
                              "Number of Crimes": number_of_crimes,
                              "Total Population": population,
                              "Percentage of Population in Poverty": pop_pct,
                              "Percentage of Children in Poverty": childpop_pct,
                              "Latitude": lat,
                              "Longitude": long})

ValueError: array length 127 does not match index length 136

In [ ]:
summary_table = summary_table.reset_index(drop= True)

In [ ]:
summary_table.head()

In [ ]:
#summary_table.to_csv('lastone.csv')